/*footer*/
.footer{
	background-color: #24262b;
	line-height: 1.5;
	font-size:18px;
    padding: 40px 0px;
	margin:0;
	
	box-sizing: border-box;
}
ul.list{
	list-style: none;
}
.container{
	max-width: 1400px;
	height:200px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.footer-col{
   width: 15%;
   padding: 0 12px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
	
}
.footer-col ul li a{
	font-size: 18px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 5px 5px 0;
	text-align: center;
	padding-top:10px;
	margin-top:15px;
	line-height: 40px;
	border-radius: 30%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.text{
	
	color:#bbbbbb;
}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.creditlogo{
	width:300px;
	height:40px;
	border:0px;
	margin-left:170px;
	float:left;
	
	
}
.logof{
	
	
	width:120px;
	height:120px;
	float:auto;
}