
*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
	background-image:url("home/background.png");
	background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(home/background.png);
	}
	
	

	

	
.Main
{
	border:2px solid black;
	background-color:#24262b;
	width:100%;
	float:left;
}

.Image01
{
	float:left;
}

.Button
{
	float:right;
	display: block;
	border: 2px solid #4CAF50;
	background: transparent;
	padding: 10px 15px;
	color: #4CAF50;
	height:100px;
	font-size: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	cursor: pointer;
	outline: none;
	transition: border-color 1s, color 1s;
}
.Button:hover{
	color: #aaa;
	border-color: #aaa;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
	

.Image02
{
	float:right;
}

img.Logo
{
	width:125px;
	height:125px;
}

img.SignIn
{
	width:125px;
	height:125px;
}
	


header .search-box{
    flex: 1;
    position: relative;
}

	

a {
	font-size: 12px;
	text-transform: uppercase;
}
.nav-area {
	background: black;
}
.nav-area:after {
	content: '';
	clear: both;
	display: block;
}
.nav-area ul {
	list-style: none;
	margin: 0;
}
.nav-area>ul>li {
	float: left;
	position: relative;
}
.nav-area ul li a {
	text-decoration: none;
	color: #fff;
	padding: 15px 20px;
	display: block;
}
.nav-area ul li:hover a {
	background: #34495e;
}
.nav-area ul ul {
	position: absolute;
	padding: 0;
	min-width: 160px;
	display: none;
	top: 100%;
	left: 0;
}
.nav-area ul li:hover>ul {
	display: block;
}
.nav-area ul ul li:hover a {
	background: #262626;
}
.nav-area ul ul li {
	position: relative;
}
.nav-area ul ul ul {
	top: 0;
	left: 100%;
}
.nav-area ul ul ul li:hover a {
	background: #34495e;
}


	

	
	
	
	
	
	
.banner{
		width: 100%;
		padding: 20px;
		margin: 100px auto;	 
		display: flex;
		
		justify-content: center;
	}	
	
	
.container01{
		width: 90%;
		padding: 20px;
		margin: 100px auto;	 
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	

	.box{
		width: 250px;
		margin: 0 10px;
		box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
		transition: 1s;

	}
	.box img{
		display: block;
		width:100%;
		border-radius: 5px;
	}
	.box:hover{
		transform: scale(1.3);
		z-index: 2;
	}









.gallery {
  width: 1000px;
  margin: 0 auto;

  position: relative;
}

.gallery__photo {
  width: 250px;
  height: 250px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  border-radius: 2px;

  position: absolute;
  transition: all 0.2s;
  z-index: 10;
  outline-offset: 20px;
}

.gallery__photo--p1 {
  top: 0;
  left: 0;
}

.gallery__photo--p2 {
  top: 0;
  right: 0;
  z-index: 1;
}

.gallery__photo--p3 {
  top: 40px;
  left: 20%;
}

.gallery__photo--p4 {
  top: 60px;
  left: 40%;
}

.gallery__photo--p5 {
  top: 40px;
  left: 60%;
  z-index: 2;
}

.gallery__photo:hover {
  outline: 15px solid #14addc;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  transform: scale(1.05) translateY(-20px);
  z-index: 20;
}
.gallery:hover .gallery__photo:not(:hover) {
  transform: scale(0.9);
}


.footer{
	background-color: #24262b;
	line-height: 1.5;
	font-size:18px;
    padding: 40px 0px;
	margin:0;
	
	box-sizing: border-box;
}
ul.list{
	list-style: none;
}
.container{
	max-width: 1400px;
	height:200px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.footer-col{
   width: 15%;
   padding: 0 12px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
	
}
.footer-col ul li a{
	font-size: 18px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 5px 5px 0;
	text-align: center;
	padding-top:10px;
	margin-top:15px;
	line-height: 40px;
	border-radius: 30%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.text{
	
	color:#bbbbbb;
}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.creditlogo{
	width:300px;
	height:40px;
	border:0px;
	margin-left:170px;
	float:left;
	
	
}
.logof{
	
	
	width:120px;
	height:120px;
	float:auto;
}