*{
	margin:0px;
}
.head{
	margin-top:50px;
	text-align:center;
}
.ItemForm{
	background-color:black;
	width:700px;
	height:780px;
	border-radius: 5px;
	padding-top:20px;
	padding-left:25px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 50px;
	
}
.lable1{
	color:white;
	float: left;
	width: 30%;
	margin-top: 30px;
	padding-left:2px;
	
}

.box1{
	title:full name;
	width: 65%;
	padding:10px 10px;
	border: 1px solid #ccc;
	margin-top: 30px;
	
}
.box2{
	width: 65%;
	height:200px;
	padding: 8px;
	margin-top:20px;
	border: 1px solid #ccc;
	height:200px;
 
}
.choose{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right:100px;
	color:white;
	
}
.submit{
	
	background-color: white;
	color: black;
	width:660px;
	padding: 10px;
	border: none;
	font-size:20px;
	margin-left:20px;
	margin-top:50px;

}
.submit:hover{
	background-color:#04AA6D;
	color:white;
}